<div class="container">

  <div class="row m-3">
    <h1>Update flat <%= @flat.name %></h1>
  </div>

  <div class="row m-3">
    <div class="col-6 offset-3">
      <!-- <#%= render "form", flat: @flat %> -->
      <%= simple_form_for(@flat) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :price_per_night %>
        <%= f.input :number_of_guests, collection: 0..20 %>

        <%= f.submit "Update my flat", class: "btn btn-primary" %>
        <%= link_to "Back to flats", flats_path, class: "btn btn-secondary" %>
      <% end %>

  </div>
  </div>

</div>
